{% load  filters %}
{% if l_users %}
    {% for user in l_users %}
        <div id="user_{{ user|access:"id" }}" class="user prof_pix_heroable" hero hero-id="" onclick="to_main_to_user(this.id, '{{ user|access:"id" }}')">
            <div class=" image_container_user width_ratio ratio5-1">
                <div class="content_ratio">
                    <img class="user_image profile_pix_tag" src="{{ user|access:"profile_picture_path" }}"/>
                </div>
            </div>
            <div class="user_description">
                <div class="user_title_container">
                    <span class="user_title">{{ user|access:"first_name" }} {{ user|access:"last_name" }}</span>
                </div>
                <div class="library_text_container">
                    <span class="user_text">{{ user|access:"description" }}</span>
                </div>
            </div>
            <input type="hidden" class="user_cover_path" value="{{ user|access:"user_cover_path" }}">
            <input type="hidden" class="user_followed" value="{{ user|access:"user_followed" }}">
        </div>
    {% endfor %}
{% else %}
    <div>No Users to display</div>
{% endif %}