<paper-icon-button  id="button_from_edit_to_dash" class="hover interface_hideable_items" icon="close" role="button"></paper-icon-button>
<paper-icon-button  id="done_edit_user_button" class="hover" icon="check" role="button" ></paper-icon-button>
<div id="my_profile_picture" class="width_ratio ratio3-2 interface_hideable_items">
    <div class="content_ratio">
        <div class="gradient_toolbar gradient_profile_picture interface_hideable_items" cross-fade>
            <div class="left_icones_container">
                <paper-icon-button  id="button_back_view_all_to_main" class="hover" icon="arrow-back" role="button" onclick="from_view_all_to_dashboard()"></paper-icon-button>
                <paper-icon-button id="back_edit_profile" class="back_button interface_hideable_items" icon="arrow-back" role="button"></paper-icon-button>
                <paper-icon-button class="right_icon" icon="more-vert" role="button"></paper-icon-button>
            </div>
        </div>
        <img id="my_profile_picture_pix" src="{{ profile_picture_pix }}"/>
        <div class="gradient_title_container interface_hideable_items">
            <div class="gradient_title gradient_profile_title">{{ first_name }}  {{ last_name }}</div>
            <div class="gradient_details"> {{ city }} | {{ country }}</div>
        </div>
    </div>
    <div id="mid_text_edit_photo_user" class="interface_hideable_items">
        <input type="file" id="upload_new_profile_pix" name="files[]" data-url="/app/post/new_profile_pix/">
        <label id="label_new_profile_pix" for="upload_new_profile_pix">Click to change profile photo</label>
    </div>
</div>
<div class="overflow_button_profile_pix_container">
    <paper-fab cross-fade icon="create" class="overflow_button_profile_pix interface_hideable_items" id="edit_profile" title="create" onclick="toggle_left_column('my_profile_layer')"></paper-fab>
</div>
<div id="details_my_profile_picture">
    <core-animated-pages id="my_profile_layer" class="profile_layer" selected="1" transitions="slide-from-bottom">
        <section id="edit_view_left_section">
            {% include "main_app/sub_templates/edit_current_profile.html" %}
        </section>
        <section id="main_view_left_section">
            <div class="profile_details" >
                <span class="profile_description">{{ description }}</span>
            </div>
        </section>
    </core-animated-pages>
    <input type="hidden" id="current_user_cover_path" value="{{ web_cover_picture_1_path }}">
    <input type="hidden" id="current_user_subscribing_users_count" value="{{ subscribing_users_count }}">
    <input type="hidden" id="current_user_subscribing_libraries_count" value="{{ subscribing_libraries_count }}">
</div>
<script>
    var array_inputs = {name: 'a'};
    $("#upload_new_profile_pix").change(function(e) {
        previous_profile_pix = $("#my_profile_picture_pix").attr("src");

        var file = e.currentTarget.files[0];
        filename = file.name;

        objectUrl = URL.createObjectURL(file);

        $('#my_profile_picture_pix').prop("src", objectUrl);
    });

    $('#upload_new_profile_pix').fileupload({
        dataType: 'json',
        url: '/app/post/edit_current_user_profile/',
        formData: array_inputs,
        add: function (e, data) {
            $('#done_edit_user_button').addClass('hide');
            $("#done_edit_user_button").unbind("click");
            $('#done_edit_user_button').bind("click", function(){
                data.formData = array_inputs;
                data.submit();
                previous_profile_pix = "";
                toggle_left_column('my_profile_layer');
                $('#done_edit_user_button').toggleClass('hide');
                return false;
            });
        }
    });

    $('#button_from_edit_to_dash').click(function(){
        if (previous_profile_pix)
        {
            $('#my_profile_picture_pix').attr('src', previous_profile_pix);
            previous_profile_pix = "";
        }
        toggle_left_column('my_profile_layer');
        $('#done_edit_user_button').removeClass('hide');
        return false;
    });
    $(".input_to_post").change(function(e){
        alert(e.target.label);
        array_inputs[e.target.label] = e.target.value;

        $('#done_edit_user_button').addClass('hide');
        $("#done_edit_user_button").unbind("click");
        $('#done_edit_user_button').bind("click", function(){
            alert("sub");
        });
    });
</script>