<div class="edit_current_user_container">
    <div class="line_edit_user_container">
        <paper-input class="input_edit_user lefty" floatingLabel label="First Name" value="{{ first_name }}"></paper-input>
        <paper-input class="input_edit_user righty" floatingLabel label="Last Name" value="{{ last_name }}"></paper-input>
    </div>
    <div class="line_edit_user_container">
        <paper-input class="input_edit_user lefty" floatingLabel label="City" value="{{ city }}"></paper-input>
        <paper-dropdown-menu class="input_edit_user righty" floatingLabel relative inline horizontal center label="State">
            <paper-dropdown class="dropdown">
                <core-menu class="menu">
                    <paper-item>Croissant</paper-item>
                    <paper-item>Donut</paper-item>
                    <paper-item>Financier</paper-item>
                    <paper-item>Madeleine</paper-item>
                </core-menu>
            </paper-dropdown>
        </paper-dropdown-menu>
    </div>
    <div class="line_edit_user_container">
        <paper-dropdown-menu class="input_edit_user lefty" floatingLabel label="Country">
            <paper-dropdown class="dropdown">
                <core-menu class="menu">
                    <paper-item>Croissant</paper-item>
                    <paper-item>Donut</paper-item>
                    <paper-item>Financier</paper-item>
                    <paper-item>Madeleine</paper-item>
                </core-menu>
            </paper-dropdown>
        </paper-dropdown-menu>
        <paper-input class="input_edit_user righty" floatingLabel label="Zipcode"></paper-input>
    </div>
    <div class="line_edit_user_container">
        <textarea class="text_area_description" rows="5" cols="50" maxlength="140">{{ description }}</textarea>
    </div>
    <div class="title_edit_user_container">
        <span>Settings</span>
    </div>
    <div class="line_edit_user_container">
        <paper-input class="input_edit_user lefty" label="Misc"></paper-input>
    </div>
    <span class</span>
    <div class="line_edit_user_container">
        <paper-input class="input_edit_user lefty" label="Misc"></paper-input>
    </div>
    <div class="line_edit_user_container">
        <paper-input class="input_edit_user lefty" label="Misc"></paper-input>
    </div>
</div>