body {
    margin: 0;
    color: white;
    background: url("../images/bg.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}

#header {
    height: 70px;
    width: calc(100% - 40px);
    background-color: #16d301;
    padding-top: 20px;
    padding-left: 40px;
}

#login_container {
    float: right;
    margin-right: 50px;
    height: 50px;
    margin-top: 20px;
    width: 360px;
    font-size: 12px;
}

#inputs_container {
    float:left;
    width: calc(100% - 70px);
    margin-top: -11px;
    display: none;
}

.input_container {
    float: left;
    width: 50%;
}

#username, #password {
    width: 140px;
}

#errorlogin  {
    color: red;
}

#login_button {
    float: right;
}

.icon {
    display: inline-block;
    background: url("../images/sprites.png") no-repeat;
}

#logo {
    background-position: 10% 31%;
    width: 170px;
    height: 60px;
}

#logo_store {
    background-position: 83.5% 8.5%;
    width: 214px;
    height: 61px;
    margin-top: 20px;
}

#logo_android_store {
    background-position: 83.5% 28.5%;
    width: 214px;
    height: 61px;
    margin-top: 20px;
}

#logo_android {
    background-position: 83.5% 9.5%;
    width: 214px;
    height: 61px;
    margin-top: 40px;
}

#content {
    width: calc(100% - 120px);
    height: 100%;
    margin-left: 120px;
    margin-top: 5%;
    float: left;
}

#left_side {
    width: 55%;
    float:left;
}

.app_logo_container {
    width: 50%;
    float: left;
}

#appstore {
    width: 100%;
    float: left;
}


#right_side {
    width: 45%;
    float: right;
    text-align: center;
    margin-top: -10px;
    margin-left: -20px;
}

#img_right_side {
    width: 380px;
}

#main_text {
    float: left;
}

#title_main_text {
    font-weight: bold;
    font-size: 28px;
    margin-bottom: 20px;

}

#content_main_text {

}

#video_container {
    float: left;
}

#video {
}

#footer {
    position: absolute;
    bottom: 0;
    margin-bottom: 30px;
    width: 100%;
}

#left_footer {
    float: left;
    margin-left: 40px;
}

#right_footer {
    float: right;
    margin-right: 40px;
}

.text_right_footer {
    margin-left: 70px;
    font-size: 12px;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
}

.text_right_footer:hover {
    color: black;
    cursor: pointer;
}

#opinions {
    margin-top: 40px;
    float: left;
    width: 420px;
}

.opinion {

}

.hide {
    display: none;
}

.name_opinion {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 6px;
}

.desc_opinion {
    margin-bottom: 6px;
    font-style: italic;
}

.opinion_text {

}

#text_left_footer {
    font-size: 12px;
    color: #ffffff;
}

#link_video_container {
    float: left;
    margin-top: 20px;

}

#link_container, #icon_container {
    float:left;
}

#link_container {
}

#link_video {
    font-size: 38px;
    color: white;
    text-decoration: initial;
}

#link_container:hover, #link_video:hover {
    text-decoration: underline;
}

#player {
    height: 52px;
    width: 52px;
    background-position: 7.2% 95.7%;
    margin-right: 10px;
}



#cboxOverlay {
    background-color: black;
    position: fixed;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    opacity: 0.9;
    cursor: pointer;
    visibility: visible;
}


#cboxClose {
    top: 0;
    right: 0;
    position: absolute;
    background: url("../images/sprites.png") no-repeat;
    background-position: 61.8% 89%;
    height: 23px;
    width: 55px;
    color: transparent;
}

#cboxClose:hover {
    background-position: 61.8% 97%;
    cursor: pointer;
}

#cboxLoadedContent{
    margin-top:23px;
    margin-bottom:0;
}

/*****************************/
/***** Responsive Design *****/
/*****************************/


/* Portrait Phone*/

#header.port_phone {
    height: 60px;
    padding-top: 10px;
    padding-left: 15px;
    width: calc(100% - 15px);
}

#content.port_phone {
    width: calc(100% - 10px);
    margin-left: 10px;
}

#left_side.port_phone {
    width: calc(100% - 10px);
}

#logo.port_phone {
    margin-left: 15px;
    margin-top: 10px;
}

#right_side.port_phone {
    display: none;
}

#title_main_text.port_phone {
    font-size: 18px;
}

#opinions.port_phone {
    display: none;
}

#appstore.port_phone {
    text-align: center;
}

#link_video.port_phone {
    font-size: 18px;
}

#right_footer.port_phone {
    display: none;
}

#text_left_footer.port_phone {
    font-size: 14px;
}

#footer.port_phone {
    float: left;
    margin-top: 10px;
    width: 100%;
    margin-bottom: 20px;
    position: initial;
}

/* Landscape Phone*/

#header.land_phone {
    height: 60px;
    padding-top: 10px;
    padding-left: 15px;
    width: calc(100% - 15px);

}

#content.land_phone {
    width: calc(100% - 10px);
    margin-left: 10px;
}

#left_side.land_phone {
    width: calc(100% - 10px);
}

#logo.land_phone {
    margin-left: 15px;
    margin-top: 10px;
}

#right_side.land_phone {
    display: none;
}

#title_main_text.land_phone {
    font-size: 18px;
}

#opinions.land_phone {
    display: none;
}

#appstore.land_phone {
    text-align: center;
}

#link_video.land_phone {
    font-size: 18px;
}

#right_footer.land_phone {
    display: none;
}

#text_left_footer.land_phone {
    font-size: 14px;
}

#footer.land_phone {
    float: left;
    margin-top: 10px;
    width: 100%;
    margin-bottom: 20px;
    position: initial;
}

#link_video_container.land_phone {
    margin-left: 90px;
}

#footer.land_phone {
    text-align: center;
}

#left_footer.land_phone {
    float: none;
    margin: 0;
}

/* Landscape Tablet */

#content.land_tab {
    width: calc(100% - 30px);
    margin-left: 30px;
    margin-top: 4%;
}

#right_side.land_tab {
    width: 35%;
}

#left_side.land_tab {
    width: 65%;
}

#appstore.land_tab {
    margin-top: 30px;
}

#link_video_container.land_tab {
    margin-top: 30px;
}

#footer.land_tab {
    text-align: center;
    margin-bottom: 10px;
}

#right_footer.land_tab {
    width: 100%;
    margin: 0;
}

#left_footer.land_tab {
    width: 100%;
    margin: 0;
    margin-top: 20px;
}

#img_right_side.land_tab {
    width: 360px;
}

/* Portrait Tablet */

#content.port_tab {
    width: calc(100% - 240px);
    margin-right: 120px;
    margin-left: 120px;
    margin-top: 4%;
}

#right_side.port_tab {
    width: 100%;
    text-align: center;
}

#img_right_side.port_tab {
    width: 200px;
    margin-bottom: -40px;
}

#left_side.port_tab {
    width: 100%;
}


#appstore.port_tab, #link_video_container.port_tab {
    margin-top: 30px;
}