<div id="footer">
    <div id="left_footer">
        <span id="text_left_footer">©2014 Yapster, Inc. All rights reserved</span>
    </div>
    <div id="right_footer">
        <a href="#" class="text_right_footer">about</a>
        <a href="#" class="text_right_footer">press</a>
        <a href="#" class="text_right_footer">explore</a>
        <a href="#" class="text_right_footer">contact</a>
        <a href="#" class="text_right_footer">blog</a>
        <a href="#" class="text_right_footer">privacy</a>
        <a href="#" class="text_right_footer">terms</a>
    </div>
</div>