<div id="footer">
    <div id="left_footer">
        <span id="text_left_footer">©2014 Yapster, Inc. All rights reserved</span>
    </div>
    <div id="right_footer">
        <a href="" class="text_right_footer">about</a>
        <a href="#" class="text_right_footer">press</a>
        <a href="#" class="text_right_footer">explore</a>
        <span class="text_right_footer about_link">contact</span>
        <a href="#" class="text_right_footer">blog</a>
        <span class="text_right_footer about_link">privacy</span>
        <span class="text_right_footer about_link">terms</span>
    </div>
</div>