<div class="background_blur"></div>
<div class="edit_yap_panel">
    {% csrf_token %}
    <div class="edit_yap_column">
        <div class="title_column">
            <span>Create a Yap</span>
        </div>
        <div class="button_upload_container">
            <input type="file" id="new_yap_upload" class="file_upload_yap_post" name="yap_audio[]" data-url="/app/post/pre_upload/" multiple>
            <audio id="new_yap_upload_audio"></audio>
            <label for="new_yap_upload">
                <paper-button class="upload_button">Upload audio file</paper-button>
            </label>
        </div>
        <div class="help_text_container">
            <span>click the button above to select a audio file for the yap</span>
        </div>
        <div class="editing_part"></div>
    </div>
    <div class="edit_yap_column">
        <div class="title_column">
            <span>Attach a photo</span>
        </div>
        <div class="button_upload_container">
            <input type="file" id="new_yap_photo_upload" class="file_upload_yap_post" name="yap_pix[]" multiple>
            <label for="new_yap_photo_upload">
                <paper-button class="upload_button" on-tap="">Upload photo file</paper-button>
            </label>
        </div>
        <div class="new_yap_photo_upload_container">
            <img class="new_yap_photo_upload_pix" src=""/>
        </div>
        <div class="help_text_container">
            <span>click the button above to attach a photo for the yap</span>
        </div>
        <div class="title_column">
            <span>Library</span>
        </div>
        <div class="button_upload_container">
            <paper-button class="upload_button" on-tap="">Add New Library</paper-button>
            <div class="text_library_selected">
            </div>
        </div>
        <div class="edit_yap_libraries"></div>
    </div>
    <div class="edit_yap_column" style="text-align: center">
        <paper-button class="upload_button" id="post_yap_button">Post Yap</paper-button>
        <div class="cancel_container" onclick="toggle_yap_edit()">
            <span>or</span>
            <span>Cancel</span>
        </div>
    </div>
</div>
