<!DOCTYPE html>
<html>
<head>
    {% load staticfiles %}

    <title>Yapster</title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/jquery-ui.min.js"></script>
    <script src="{% static "js/jquery.colorbox.js" %}"></script>
    <script src="{% static "js/home.js" %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static "css/main.css" %}" />
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,700' rel='stylesheet' type='text/css'>
    <meta name="viewport" content="user-scalable=no, width=device-width">
</head>
<body>
<div id="header" class="responsive">
    <a href="/"><div id="logo" class="icon">
    </div></a>
</div>
<div id="content" class="responsive">
    <div id="right_side" class="responsive">
        <img id="img_right_side" class="responsive" src="{% static "images/light_home/phone-01.png"%}">
    </div>
    <div id="left_side" class="responsive">
        <div id="main_text">
            <div id="title_main_text" class="responsive">
                <span>Revolutionizing the Way people share audio!</span>
            </div>
            <div id="content_main_text">
                <span>Yapster is a social networking app that focuses on audio clips, you can make yaps, listen to other people's yaps and share with friends</span>
            </div>
        </div>
        <div id="opinions" class="responsive">
            {% for opinion in opinions %}
                {% if forloop.first %}
                    <div class="opinion">
                {% else %}
                    <div class="opinion hide">
                {% endif %}
            <div class="name_opinion">{{ opinion.firstname }} {{ opinion.lastname }}</div>
            <div class="desc_opinion">{{ opinion.description }}</div>
            <div class="opinion_text">{{ opinion.content }}</div>
            </div>
            {% endfor %}
            </div>
            <div id="appstore" class="responsive">
                <a target="_blank" href="https://itunes.apple.com/us/app/yapster/id899766051"><div id="logo_store" class="icon"></div></a>
                <div id="logo_android_store" class="icon"></div>
            </div>
            <div id="link_video_container" class="responsive">
                <a id="link_video" class="responsive" href="javascript:void jQuery.colorbox({html:'<iframe  width=900 height=620 src=//www.youtube.com/embed/YGAQyEez1QM frameborder=0 webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>', transition: 'fade', opacity: 0.65, returnFocus: false})">
                    <div id="icon_container">
                        <span class="icon" id="player"></span>
                    </div>
                    <div id="link_container">PLAY INTRO VIDEO</div>
                </a>
            </div>
        </div>
    </div>
    {% include "sections/footer.html" %}
</body>
</html>