body {
    background-color: white;
    font-family: 'Roboto', sans-serif;
    overflow-y:hidden;
    height: 100%;
}


core-header-panel::shadow #mainContainer::-webkit-scrollbar-track, ::-webkit-scrollbar-track
{
    background-color: white;
    border-radius: 10px;
}

core-header-panel::shadow #mainContainer::-webkit-scrollbar, ::-webkit-scrollbar
{
    width: 10px;
    background-color: #F5F5F5;
}

core-header-panel::shadow #mainContainer::-webkit-scrollbar-thumb, ::-webkit-scrollbar-thumb
{
    background-color: #F2F2F2;
    border-radius: 10px;
}

core-header-panel::shadow #mainContainer::-webkit-scrollbar-thumb:hover, ::-webkit-scrollbar-thumb:hover
{
    background-color: #CCCCCC;
}

my-header {
    z-index: 999;
}

#edit-yap {
    width: 100%;
    float: left;
    position: absolute;
    z-index: 100;
    height: 0;
    transition: height 1.0s;
    overflow: hidden;
}

#edit-yap.on {
    height: calc(100% - 60px);
}

.background_blur {
    /* Absolutely position it, but stretch it to all four corners, then put it just behind #search's z-index */
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    z-index: 99;

    /* Pull the background 70px higher to the same place as #bg's */
    background-position: center -70px;

    /*filter: blur(10px);*/
    /*-webkit-filter: blur(10px);*/
    /*-moz-filter: blur(10px);*/
    background: white;
    /*opacity: 0.98;*/
}

#left_part {
    width: 100%;
    float: left;
    height: calc(100% - 60px);
}

.column_cover {
    float: left;
    width: 100%;
    height: 100%;
}

.column {
    width: 50%;
    float: left;
    height: 100%;
    position: relative;
    background-color: white;
}

#column1, #column1_main, #column1_user {
    z-index: 10;
    display: table;
}

#column2 {
    transition: right 2.2s;
    right: 0;
    z-index: 5;
    position:relative;
}

#column2.tall_cover {
    right: 50%;
    z-index: -1;
}

#column3, #column3_user {
    transition: width 2.2s;
    position: absolute;
    right: 0;
    overflow: hidden;
}

#column3.tall_cover {
    position: absolute;
    right: 0;
    width: 200%;
}

.section_left {
    height: 630px;
}

#button_left_change {
    position: absolute;
    top: 0;
}

#view_all_toolbar, #results_all_view {
    float: left;
    width: 100%;
}



#button_back_library_to_user {
    top: 0;
    position: absolute;
    left: 0;
    margin-top: 4px;
}

#button_from_view_all_to_dash, #button_from_edit_to_dash {
    margin-top: 4px;
    float: left;
    top: 0;
    position: absolute;
    left: 0;
}

#button_from_edit_to_dash {
    display: none !important;
    color: white;
}

#button_from_edit_to_dash:hover {
    color: #16d301;
}

#button_from_edit_to_dash.hide {
    display: inherit !important;
    z-index: 60;
}

paper-icon-button:hover {
    color: #16d301;
}

.cover_button {
    display: none;
}

.cover_button.show_cover_button {
    display: inherit;
    position: absolute;
    color: white;
}

.cover_button.show_cover_button:hover {
    color: #16d301;
}

#button_cancel_cover {
    left: 0;
}

#button_valid_cover {
    left: 30px;
}

#second_button_left_change {
    position: absolute;
    top:0;
    left: 32px;
}

#button_switch_change {
    position: absolute;
    top: 0;
    left: 32px;
}

#button_left_change_player {
    position: absolute;
    bottom: 0;
}



#player {
    width: calc(100% / 3);
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 50;
    transition: bottom 0.4s;
}

#player.hide {
    bottom: -50%;
}

#short_player {
    background-color: rgb(240, 240, 241);
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-top: 10px;

}

#controls_player {
    float: left;
    width: calc(100% - 60px);
    margin-left: 30px;
    margin-top: 35px;
}


paper-icon-button[role=player_control] /deep/ core-icon {
                                                  height: 40px;
                                                  width: 40px;
                                              }

.controls_player_container {
    float:left;
    width: calc(100% / 3);
    text-align: center;
}

#progress_bar_player_container {
    float: left;
    width: 100%;
    margin-bottom: 30px;
}

#progress_bar_player {
    width: 100%;
}

#start_time {
    float: left;
}

#end_time {
    float:right;
}

.time_text {
    font-size: 13px;
    height: 40px;
    margin-left: 8px;
    margin-right: 8px;
    font-weight: 500;
}

paper-progress {
    width: 100%;
}

paper-progress::shadow #progress_bar_player {
    background-color: #16d301;
}

#details_player {

}

#details_player_title {
    font-weight: 500;
    font-size: 19px;
}

#details_player_detail_container {

}

#details_player_detail {

}

.prof_pix_heroable, .lib_pix_heroable {
    float: left;
    width: 100%;
    position: relative;
    overflow: hidden;
}
.small_prof_pix {
    width: 50%;
}

#subscribed_users_container, #subscribed_libraries_container, #explore_libraries_container {
    width: 100%;
    margin-top: 5px;
    float: left;
    margin-bottom: 5px;
}

.subscribed_library_preview_container, .subscribed_library_yaps_preview_container, .explore_library_yaps_preview_container{
    width: 100%;
    float: left;
}

.subscribed_library_yaps_preview_container, .explore_library_yaps_preview_container {
    margin-top: 16px;
}

.library_yap_preview {
    width: calc(100% - 32px);
    border-bottom: 1px solid #cccccc;
    padding: 16px;
    float: left;
}

.library_yap_preview:hover {
    cursor: pointer;
    background-color: #eeeeee;
}

.library_yap_infos {
    float: left;
    width: 75%;
    margin-bottom: 16px;
}

.library_yap_image_container {
    width: 25%;
    float: right;
}

.library_yap_image {
    width: 100%;
}

.library_yap_title {
    font-weight: 500;
}

.library_yap_date {
    color: #bbbbbb;
    font-size: 13px;
    margin-top: 2px;
}

.library_yap_description {
    font-size: 14px;
    margin-top: 5px;
}

.profile_pix_center {
    width: 100% !important;
    float: inherit !important;
}

.cropped_pix {

}

#profile_picture_1 {
}

#profile_picture_2 {
    background-color: black;
}

#profile_picture_3 {
    background-color: black;

}

#profile_picture_4 {
    background-color: black;
}

#profile_picture_5 {
    background-color: black;
}

#profile_picture_6 {
    background-color: black;
}

.gradient_title_container {
    width: 100%;
    bottom: 0;
    position: absolute;
    text-align: center;
    color: white;
    font-weight: lighter;
    padding-top: 25px;
    padding-bottom: 10px;
    background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.4) 58%, rgba(0,0,0,0.4) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(58%,rgba(0,0,0,0.4)), color-stop(100%,rgba(0,0,0,0.4))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.4) 58%,rgba(0,0,0,0.4) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.4) 58%,rgba(0,0,0,0.4) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.4) 58%,rgba(0,0,0,0.4) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.4) 58%,rgba(0,0,0,0.4) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#66000000',GradientType=0 ); /* IE6-9 */

    opacity: 1;
    transition: opacity 0.4s;
}

.gradient_title_container.hide {
    opacity: 0;
}

.gradient_title_container_center {
    padding-bottom: 10px;
}

.gradient_toolbar {
    display: none;
    width: 100%;
    top: 0;
    position: absolute;
    text-align: center;
    color: white;
    font-weight: lighter;
    padding-top: 25px;
    padding-bottom: 15px;
    text-align: right;
    background: rgba(0,0,0,0.4);
    background: -moz-linear-gradient(top, rgba(0,0,0,0.4) 0%, rgba(0,0,0,0.4) 58%, rgba(0,0,0,0) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,0,0,0.4)), color-stop(58%, rgba(0,0,0,0.4)), color-stop(100%, rgba(0,0,0,0)));
    background: -webkit-linear-gradient(top, rgba(0,0,0,0.4) 0%, rgba(0,0,0,0.4) 58%, rgba(0,0,0,0) 100%);
    background: -o-linear-gradient(top, rgba(0,0,0,0.4) 0%, rgba(0,0,0,0.4) 58%, rgba(0,0,0,0) 100%);
    background: -ms-linear-gradient(top, rgba(0,0,0,0.4) 0%, rgba(0,0,0,0.4) 58%, rgba(0,0,0,0) 100%);
    background: linear-gradient(to bottom, rgba(0,0,0,0.4) 0%, rgba(0,0,0,0.4) 58%, rgba(0,0,0,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=0 );

    opacity: 1;
    transition: opacity 0.4s;
}

.gradient_toolbar.hide {
    opacity: 0;
}

.gradient_profile_picture {
    display: initial;
}

#cover_library.tall_header .gradient_toolbar{
    display: initial;
}

.left_icones_container {
    text-align: right;
    height: 0px;
    margin-top: -22px;
}

.left_icones_view_all_container {
    float: right;
}

.left_icon {

}

.back_button{
    position: absolute;
    left: 0;
}

#back_edit_profile {
    display: none;
}

#back_edit_profile.hide {

}

.gradient_title {
    font-size: 15px;
}

.gradient_profile_title {
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 5px;
}

.gradient_details {
    font-size: 12px;
}

.view_all_container {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    border-bottom: 1px solid #cccccc;
    float: left;
    width: 100%;
    cursor: pointer;
    background-color: white;
}

.view_all_container:hover {
    background-color: #eeeeee;
}

.view_all_title {
    color: #16d301;
    font-size: 15px;
    text-transform: uppercase;
}

.small_view_all {
    float: right;
    color: #16d301;
    font-size: 16px;
    margin-right: 5px;
    cursor: pointer;
}

#profile_picture_explore_1 {
    background-color: rgb(47, 230, 29);
}

#profile_preview {
    width: 100%;
    height: 25%;
    background-color: rgb(100, 0, 230);
}

#collapse_player {
    position: relative;
    background: -moz-linear-gradient(top,  rgba(240,240,240,0.47) 0%, rgba(240,240,240,1) 31%, rgba(240,240,240,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(240,240,240,0.47)), color-stop(31%,rgba(240,240,240,1)), color-stop(100%,rgba(240,240,240,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(240,240,240,0.47) 0%,rgba(240,240,240,1) 31%,rgba(240,240,240,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(240,240,240,0.47) 0%,rgba(240,240,240,1) 31%,rgba(240,240,240,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(240,240,240,0.47) 0%,rgba(240,240,240,1) 31%,rgba(240,240,240,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(240,240,240,0.47) 0%,rgba(240,240,240,1) 31%,rgba(240,240,240,1) 100%); /* W3C */
}

#collapse_player_pad {
    width: calc(100% - 130px);
    margin-left: 70px;
    margin-top: 40px;
}

#player_details {
    text-align: center;
    overflow: hidden;
    position: relative;
    border-radius: 5px;
}

#current_yap_pix {
    width: 100%;
    display: none;
}

#current_yap_pix.yap_pix_active {
}

#my_profile_picture, #current_user_profile_picture {
    background-color: white;
    width: 100%;
    position: relative;
    overflow: hidden;
    float: left;
    display: table-row;
    z-index: 50;
}

#my_profile_picture:after {
    content:'\A';
    position:absolute;
    width:100%; height:100%;
    top:0; left:0;
    background:rgba(0,0,0,0.6);
    opacity:0;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}

#my_profile_picture.hide:after {
    opacity:1;
}

#done_edit_user_button {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    font-size: 16px;
    opacity: 0;
    transition: opacity 0.4s;
    margin-right: 20px;
    margin-top: 10px;
    color: white;
    z-index: 60;
}

#done_edit_user_button.hide {
    display: inherit;
    opacity: 1;
    cursor: pointer;
}

#done_edit_user_button:hover {
    color: #16d301;
}

#mid_text_edit_photo_user {
    display: none;
    opacity: 0;
    transition: opacity 0.4s;
}

#mid_text_edit_photo_user.hide {
    display: inherit;
    opacity: 1;
    position: absolute;
    z-index: 190;
    top: 50%;
    left: 25%;
    color: white;
    cursor: pointer;
}

#mid_text_edit_photo_user.hide:hover {
    color: #16d301;
}

#upload_new_profile_pix{
    display: none;
}

#label_new_profile_pix {
    cursor: pointer;
}

.width_ratio:before {
    content: '';
    display: block;
}

.ratio3-2:before {
    padding-top: 62.25%;
}

.ratio1-1 {
    padding-top: 100%;
}

.content_ratio {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.content_ratio:hover {
    cursor: pointer;
}

#details_my_profile_picture, #details_user_profile_picture {
    width: 100%;
    display: table-row;
    height: 100%;
    z-index: 10;
}

#edit_view_left_section {
    overflow: auto;
}

.profile_layer, #profile_layer_invert {
    height: 100%;
}

#my_profile_picture_pix, #user_profile_picture_pix {
    width: 100%;
}

.profile_details {
    height: 85%;
    width: calc(100% - 40px);
    height: calc(100% - 281px);
    padding-left: 20px;
    padding-right: 20px;
}

.edit_current_user_container {
    width: calc(100% - 20px);
    margin-left: 10px;
    float: left;
}

.line_edit_user_container {
    width: 100%;
    font-size: 14px;
    float: left;
}

.title_edit_user_container {
    float:left;
}

.text_area_description {
    width: calc(100% - 10px);
    resize: none !important;
    font-family: 'Roboto', sans-serif;
    padding: 5px;
}

.input_edit_user {
    width: calc(50% - 10px);
}

paper-item {
    display: block;
}

paper-dropdown-menu {
    margin-top: 19px;
}

.lefty {
    float: left;
}

.righty {
    float: right;
}

.overflow_button_profile_pix_container {
    text-align: right;
    float: right;
}


#hidden_player {
    width: 100%;
    bottom: 0;
    position: absolute;
}

.overflow_button_profile_pix {
    position: relative;
    margin-top: -33px;
    margin-right: 20px;
    z-index: 60;
    transition: all 0.4s;
}

.overflow_button_profile_pix.hide {
    width: 0px;
    height: 0px;
    padding: 0px;
}

#edit_profile, #follow_profile {
    background: #f9af3c;
}

#follow_profile {
    background: #16d301;
}

.profile_description {
    font-size: 12px;
    display: block;
}

#sub_content_center {
    background-color: #0092ef;
}
#exp_content_center {
    background-color: #673ab7;
}

.content_center {
    height: 2000px;
    z-index: -1;
}

.cover_content {
    top: 0;
    overflow: hidden;
}

.cover_content_on {
    height: 100%;
    width: 100%;
}

#current_cover_image, #user_cover_image {
    height: 100%;
}

.user_cover_content {
}

.user_cover_content_on {
    width: 100%;
    height: 100%;
}

#center_column, #cover_content {
    width: 100%;
    height: 100%;
}

#hide_column_cover_center {
    height: 600px;
    width: 1px;
}

#cover_button {
    top: 0;
    right: 13px;
    position: absolute;
    color: #16d301;
}

#cover_button.hide {
    display: none;
}

#right_side {
    width: 67%;
    float: left;
}

#core-header-center, #core-header-view_all {
    float: left;
    height: 100%;
    width: 100%;
}

.core-header {
    border-bottom: 1px solid #cccccc;
}

#view_all_header {
    background-color: white;
}

#tabs {
    color: black;
    width: 100%;
    float: left;
    font-weight: 500;
    padding-top: 5px;
}

#tab_button {
    color: #16d301;
    padding-bottom: 0px;
    padding-top: 14px;
}

paper-tab::shadow #ink {
    color: #16d301;
}

paper-tabs::shadow #selectionBar {
    background-color: #16d301;
    height: 3px;
}

html /deep/ #preview_dialog {
                width: 350px;
                height: 470px;
                background-color: cadetblue;
                float: left;
                margin-top: 60px;
            }

#main_layer {
    height: 100%;
    width: calc(200% / 3);
    float: left;
}

#view_all_layer {
    width: 100%;
    height: 100%;
}

#cover_layer {
    width: calc(100% / 3);
    height: 100%;
    float: left;
}

#center_layer {
    height: 100%;
}

.center_container {
    float: left;
    width: 100%;
}

#subscribed_users_title_containter, #subscribed_libraries_title_containter{
    border-bottom: 1px solid #cccccc;
    padding-top: 16px;
    padding-bottom: 12px;
    padding-left: 16px;
}

#subscribed_users_title{
    font-size: 19px;
    font-weight: 500;
}

#subscribed_users_title_number{
    color: #cccccc;
    font-size: 13px;
}

#content_center #results_all_view {
    height: 100%;
}

.user_profile_picture {
    height: 30%;
    background-color: blue;
}



#shadow_box {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 16px;
    box-shadow: inset 9px 0px 14px -2px rgba(0, 0, 0, 0.4);
    height: 100%;
}


/* YAP DESIGN */

.library {
    width: calc(100% - 22px);
    padding-top: 10px;
    border: solid grey 1px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    float: left;
    height: 10%;
    cursor: pointer;
}

.library:hover {
    background-color: #eeeeee;
}

.image_container_library{
    width: 15%;
    height: 100%;
    float: left;
    overflow: hidden;
}

.library_image, .user_image {
    float: left;
    height: 100%;
    width: initial;
}

.library_description, .user_description {
    margin-left: 10px;
    float: left;
}

.library_title_container, .user_title_container {
    margin-bottom: 5px;
}

.library_title, .user_title {
    font-weight: 500;
    font-size: 14px;
}
.library_text_container, .user_text_container {

}
.library_text, .user_text {
    font-size: 14px;
}

#core_header_library {
    height: 100%;
}

#cover_library {
    position: relative;
}

#cover_library.ratio3-2:before {
    padding-top: 10.25%;
}

#cover_library_image {
    overflow: hidden;
    position: relative;
}

#cover_library.tall_header .ratio-8-1:before {
    padding-top: 62.25%;
    transition: padding-top 0.2s;

}

.ratio-8-1:before {
    padding-top: 50px;
    transition: padding-top 0.2s;
}

#library_description_container {
    float: left;
    width: 100%;
    text-align: center;
    background-color: #efeff0;
}

#toggle_description {
    height: 25px;
}

#expand_description {
    padding: 0px;
    margin: 0px;
    color: #16d301;
}

#description_collapse {
    font-size: 12px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 10px;
    text-align: center;
}

#library_description_text {
    text-align: justify;
}

#content_yap_library {
    height: 100%;
}

#cover_library.tall_header {
}

.gradient_lib_cover_title {
    font-size: 20px;
}

#view_all_title {
    font-size: 20px;
    margin-top: 10px;
    float: left;
    color: #16d301;
    margin-left: 10px;
    margin-bottom: 10px;
}

.follow_library {
    position: absolute;
    left: 340px;
    top: 220px;
    z-index: 1;
}

.number_yaps_libraries_container, .number_users_container, .number_view_all_container {
    background-color: rgb(240, 240, 241);
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
}

.number_yaps_libraries_text, .number_users_text, .number_header_title {
    font-size: 12px;
    color: #c0c0c1;
}


.yap {
    width: calc(100% - 22px);
    padding-top: 10px;
    padding-bottom: 10px;
    border: solid #e6e6e7 1px;
    padding-left: 15px;
    padding-right: 15px;
}

.yap:hover {
    cursor: pointer;
    background-color: #eeeeee;
}

.yap_image_container {
    overflow: hidden;
    padding-top: 5px;
    margin-bottom: 10px;
    position: relative;
    display: inline-block;
    width: 100%;
}

.yap_image_in_lib {
    width: 100%;
}

.yap_preview {
}

.yap_details {
    text-align: center;
}

.yap_image {
    width: calc(100% - 15px);
}

.yap_title_container {
    margin-bottom: 5px;
}

.yap_title {
    font-weight: 500;
    font-size: 14px;
}
.yap_date_container {
    margin-bottom: 8px;
}
.yap_date {
    font-size: 13px;
    color: lightgrey;
}
.yap_description_container {

}
.yap_description{
    font-size: 14px;
}


#explore_user_libraries {
    height: 100%;
}

.yaps_container {
    float: left;
    width: 100%;
}

.current_playlist_user {
    float: left;
    margin-top: 5px;
    background: rgba(255,255,255,0.75);
    bottom: 0;
    position: absolute;
    transition: height 2.2s, width 2.2s, padding-left 2.2s, padding-right 2.2s;
    width: 100%;
    height: 0;
}

.current_playlist_user.current_playlist_user_on {
    height: 100%;
    width: calc(50% - 40px);
    transition: height 2.2s, width 2.2s, padding-left 2.2s, padding-right 2.2s;
    padding-left: 20px;
    padding-right: 20px;
    overflow: auto;
}

.playlist_header {
    font-size: 15px;
    font-weight: 500;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px black solid;
    height: 20px;
}


.yap_in_playlist.selected_yap , .yap_in_playlist:hover{
    color: #16d301;
    cursor: pointer;
}

.yap_in_playlist {
    padding-bottom: 10px;
    padding-top: 10px;
    float: left;
    width: 100%;
}

.yap_in_playlist_title {
    font-size: 12px;
    margin-bottom: 5px;
}

.yap_in_playlist_name_time_container {

}

.yap_in_playlist_name {
    float: left;
    width: 90%;
    font-size: 12px;
}

.yap_in_playlist_time {
    font-size: 12px;
    float: right;
}

.player_control {
    float: left;
    width: calc(100% / 3);
    text-align: center;
    padding-bottom: 0px;
}

#playlist_button {
    position: relative;
    top: 0px;
    left: calc(100% - 30px);
}

.play {

}

.rew {

}

.fwd {

}

.hide_icon {
    display: none;
}

.tracker {
    width: 100%;
}

#preview_tracker {
    width: calc(100% - 50px);
}

.tracker::shadow #sliderBar {
    height: 8px;
}

.tracker::shadow #sliderKnob {
    top: 3px;
}

.tracker::shadow #sliderKnobInner {
    background-color: white !important;
    width: 20px;
    height: 20px;
    border: 2px solid #16d301 !important;
}

.tracker::shadow #sliderContainer {
    width: 100%;
    right: 16px;
}

.tracker::shadow .bar-container {
}

.tracker::shadow #sliderBar::shadow #progressContainer {
    background-color: #16d301;

}

.tracker::shadow #sliderBar::shadow #activeProgress {
    background-color: white;
}

.tracker::shadow #sliderKnobInner::before {
    background-color: #16d301;
}

/* Custom transition */

:host(.slide-from-bottom) ::content > * {
    transition: transform 1s cubic-bezier(0.4, 0, 0.2, 1);
    -webkit-transition: -webkit-transform 1s cubic-bezier(0.4, 0, 0.2, 1);
}

.load_more_div {
    width: 100%;
    float: left;
    height: 60px;
}



.search_results {
    height: calc(100% - 60px);
    width: 33.33%;
    left: 32.66%;
    position: absolute;
    transition: left 2.4s;
    display: inherit;
}

#one_search {
    background-color: #008800;
}

.search_results.search_active {
    display: inherit;
    left: 66.66%;
    transition: left 2.4s;
    background-color: white;
}

/* Edit yap upload */



.edit_yap_panel {
    height: 100%;
    width: 100%;
    float: left;
    opacity: 1;
    position: relative;
    z-index: 999;
}
.edit_yap_column {
    width: calc(100% / 3 - 7%);
    height: calc(100% - 14%);
    padding: 3.5%;
    float: left;
    overflow: auto;
}
.title_column {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 30px;
}
.upload_button {
    text-transform: capitalize;
    color: white;
    background-color: #16d301;
    margin: 0;
    padding-left: 20px;
    padding-right: 20px;
}

.text_library_selected {
    float: right;
    width: 40%;
}

.help_text_container {
    color: lightgrey;
    font-size: 12px;
    margin-top: 20px;
    margin-bottom: 80px;
}

.alert_message_yap {
    font-style: italic;
    font-size: 12px;
    margin-bottom: 10px;
}

.editing_part {
}
.yap_list {

}
#new_yap_upload, #new_yap_photo_upload, #new_cover_upload {
    display: none;
}
.input_description {
    width: 100%;
    resize: none;
}

.yap_upload {
    width: 100%;
    margin-bottom: 20px;
    float: left;
}

.line_yap_upload {
    float: left;
    width: 100%;
}
.filename_aftercut_text {
    float: left;
}

.filename_aftercut_text:hover {
    text-decoration: underline;
    cursor: pointer;
}

.file_duration_text {
    float: right;
}
.filename_input {
    float: left;
}
.part_text{
    height: 100%;
    width: 20%;
    float: right;
    margin-top: 20px;
    text-align: right;
}

.button_container {

}
#post_yap_button {
    margin-top: 50%;
}
.play_preview {
    color: #16d301;
    top: 6px;

}


.new_yap_photo_upload_pix {
    width: 100%;
    border-radius: 5px;
}

.new_yap_photo_upload_container {
    margin-top: 10px;
}

.cancel_container {
    margin-top: 20px;
}

.cancel_container:hover {
    cursor: pointer;
    text-decoration: underline;
}

.edit_yap_libraries {
    margin-top: 20px;
}

.edit_yap_library {
    height: 60px;
    float: left;
    width: 100%;
    padding: 15px;
    border-top: 1px solid #e3e3e4;
}

.edit_yap_library:hover {
    cursor: pointer;
    background-color: #fdfdfe;
}

.edit_yap_library.last {
    border-bottom: 1px solid #e3e3e4;
}

.edit_yap_library_image_container {
    float: left;
    width: 60px;
    height: 100%;
}

.edit_yap_library_image {
    width: 60px;
    height: 60px;
    border-radius: 2px;
}

.edit_yap_library_title_container {
    height: 100%;
    float: left;
    width: calc(100% - 60px);
    text-align: center;
    padding-top: 20px;
}

.preview_slider {
    width: calc(100% - 45px);
}

.search_results_container {
    overflow-y: auto;
    width: calc(100% - 0px);
    height: calc(100% - 35px);
}


.header_search_results {
    float: left;
    width: calc(100% - 16px);
    border-bottom: 1px solid #cccccc;
    padding-top: 16px;
    padding-bottom: 12px;
    padding-left: 16px;
}

.sub_header_title {
    font-size: 19px;
    font-weight: 500;
}

.no_objects_found {
    width: 100%;
    padding: 10px;
    text-align: center;
    font-size: 12px;
}