<div id="content_container">

    <div id="left_contact">
        <div id="social_banner">
            <a target="_blank" href="https://www.facebook.com/pages/Yapster/177964972338665"><span class="icon social_icon" id="fb_icon"></span></a>
            <a target="_blank" href="https://twitter.com/YapsterApp"><span class="icon social_icon" id="twitter_icon"></span></a>
            <a target="_blank" href=""><span class="icon social_icon" id="g_icon"></span></a>
            <a target="_blank" href="https://www.linkedin.com/company/yapster"><span class="icon social_icon" id="link_icon"></span></a>
        </div>
    </div>
    <div id="right_contact">
        <div id="title_contact">
            <span id="title_contact_text">Need help? Get in touch!</span>
        </div>
        <div id="sub_title_contact">
            <div id="sub_title_contact_text">Yapster, Inc.</div>
            <div id="sub_title_contact_text"> Email:info@yaspter.co</div>
        </div>
        <div class="line_form">
            <label>Subject:</label>
            <input id="subject_contact" name="subject_contact" class="input_contact" type="text">
        </div>
        <div class="line_form">
            <label>Email:</label>
            <input id="email_contact" name="email_contact" class="input_contact" type="text">
        </div>
        <div class="line_form">
            <label>Message:</label>
            <textarea class="input_contact" name="message_contact" id="message_contact" type="text" ></textarea>
        </div>
        <div class="line_form" id="button_container">
            <span id="submit_button_contact" onclick="submit_message()" class="icon">Submit</span>
        </div>
        <div class="line_form">
            <span id="error"></span>
        </div>
    </div>
</div>