<div id="left_contact">
    <div id="social_banner">
        <span class="icon social_icon" id="fb_icon"></span>
        <span class="icon social_icon" id="twitter_icon"></span>
        <span class="icon social_icon" id="g_icon"></span>
        <span class="icon social_icon" id="link_icon"></span>
    </div>
</div>
<div id="right_contact">
    <div id="title_contact">
        <span id="title_contact_text">Need help? Get in touch!</span>
    </div>
    <div id="sub_title_contact">
        <div id="sub_title_contact_text">Yapster, Inc.</div>
        <div id="sub_title_contact_text"> Email:info@yaspter.co</div>
    </div>
    <div class="line_form">
        <label>Subject:</label>
        <input class="input_contact" type="text">
    </div>
    <div class="line_form">
        <label>Email:</label>
        <input class="input_contact" type="text">
    </div>
    <div class="line_form">
        <label>Message:</label>
        <textarea class="input_contact" id="message_contact" type="text" ></textarea>
    </div>
</div>