{% load  text_templates%}
{% load staticfiles %}
<div class="device" id="ios_line">
    <div class="icon_text" id="icon_text_ios">Yapster on Ios</div>
    <div class="icon" id="ios"></div>

</div>
<div class="device unselected" id="android_line">
    <div class="icon unselected" id="android"></div>
    <div class="icon_text unselected" id="icon_text_android">Yapster on Android</div>
</div>

<div class="tour_main_content">
    <div class="tour_main_sub_content">
        <div class="tour_main_image_container">
            <img class="tour_main_image" src="{% static "images/about/01.png"%}">
        </div>
        <div class="tour_main_title_container">
            <span class="tour_main_title_text">Yap.</span>
        </div>
        <div class="tour_main_text_container">
            <span class="tour_main_text">{{ "random_text"|get_text }}</span>
        </div>
    </div>
</div>
<div class="tour_main_content">
    <div class="tour_main_sub_content">
        <div class="tour_main_image_container">
            <img class="tour_main_image" src="{% static "images/about/02.png"%}">
        </div>
        <div class="tour_main_title_container">
            <span class="tour_main_title_text">Listen.</span>
        </div>
        <div class="tour_main_text_container left_border">
            <span class="tour_main_text">{{ "random_text"|get_text }}</span>
        </div>
    </div>
</div>
<div class="tour_main_content">
    <div class="tour_main_sub_content">
        <div class="tour_main_image_container">
            <img class="tour_main_image" src="{% static "images/about/03.png"%}">
        </div>
        <div class="tour_main_title_container">
            <span class="tour_main_title_text">Connect.</span>
        </div>
        <div class="tour_main_text_container left_border">
            <span class="tour_main_text">{{ "random_text"|get_text }}</span>
        </div>
    </div>
</div>
<div id="separation">

</div>
<div class="second_part_tour_content">
    <div class="title_second_content">
        <span class="tour_main_title_text">What to Explore</span>
    </div>
    <div class="details_content_tour">
        <div class="details_image_container">
            <img class="details_image" src="{% static "images/about/04.png"%}">
        </div>
        <div class="details_image_container">
            <img id="green_lines_top" src="{% static "images/tour/greenline-01.png"%}">
        </div>
        <div class="details_content_tour_text_container">
            <div id="line_1">{{ "random_small_text"|get_text }}</div>
            <div id="line_2">{{ "random_small_text"|get_text }}</div>
            <div id="line_3">{{ "random_small_text"|get_text }}</div>
            <div id="line_4">{{ "random_small_text"|get_text }}</div>
        </div>
    </div>
</div>
<div id="reverse_separation">

</div>
<div class="second_part_tour_content" id="second_row">
    <div class="details_content_tour">
        <div class="details_image_container">
            <img class="details_image" src="{% static "images/about/05.png"%}">
        </div>
        <div class="details_image_container">
            <img id="green_lines_down" src="{% static "images/tour/greenline-02.png"%}">
        </div>
        <div class="details_content_tour_text_container">
            <div id="line_5">{{ "random_small_text"|get_text }}</div>
            <div id="line_6">{{ "random_small_text"|get_text }}</div>
            <div id="line_7">{{ "random_small_text"|get_text }}</div>
            <div id="line_8">{{ "random_small_text"|get_text }}</div>
        </div>
    </div>
    <div class="title_second_content">
        <span class="tour_main_title_text">What to Explore</span>
    </div>
</div>